.root {
  position: relative;
  height: 100vh;
  background-color: #000;
  padding-top: 79px;

  .pageLoader {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
  }

  .hide {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #000;
  }

  .logo {
    position: relative;
    width: 200px;
    height: 79px;
  }

  .slide {
    position: relative;
    // width: 100%;
    // height: 800px;
    line-height: 0;
    border-bottom: 2px solid gray;

    img {
      width: 100%;
    }
  }

  .swiper {
    background-color: #000;
  }

  .swiperSlide {
    width: 100%;
    // height: 100vh;
    line-height: 0;

    img {
      width: 100%;
    }
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px);
    background-color: rgb(24,22,23);
    color: #fff;
    text-transform: uppercase;

    .text {
      margin-bottom: 25px;
      font-size: 2rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      width: 200px;
      background-color: #fff;
      color: #000;
      border-radius: 10px;
      font-size: 1.5rem;
      // font-weight: bold;
    }
  }
}