.root {
  position: relative;
  height: 100vh;
  // background-color: #000;
  padding-top: 79px;

  .pageLoader {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
  }

  .hide {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #000;
  }

  .logo {
    position: relative;
    width: 200px;
    height: 79px;
  }

  .slide {
    position: relative;
    // width: 100%;
    // height: 800px;

    img {
      width: 100%;
    }
  }

  .swiperSlide {
    background-color: blue;
    width: 100%;
    height: 100vh;

    img {
      
    }
  }
}